@import "../fonts/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    font-family: "PP Neue Montreal" !important;
    font-weight: 500 !important;
    font-size: 1.041666666666667vw;
    line-height: 1;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
}
